<%- include('partials/header') %>

<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="app.css" />
<div class="main">
  <div class="header"></div>
  <div class="container mb-4">
    <div class="subHead my-4 p-2">
      <h1>Appetizers</h1>
    </div>
  </div>
  <div class="container first mt-4">
    <div class="row">
      <div class="col-6">
        <h4>Smapler Platter 13.99</h4>
        <p>
          Mozzarella Sticks, Buffalo Wings, Potato Wedges, and Chicken Strips
          served with Marinara and Ranch Dressing
        </p>
      </div>
      <div class="col-6">
        <h4>Four Cheeser Pleaser 6.99</h4>
        Bread sticks covered with melted Mozzarella, Provolone, Chedder,
        Romano/Parmesan Cheese smothered with Garlic Butter.
      </div>
    </div>
  </div>
  <%# end of first container %>
  <div class="container second mt-4">
    <div class="row">
      <div class="col-6">
        <h4>Mozzarella Sticks 8.99</h4>
        <p>
          Breaded and Baked to a Golden Brown. Served with Marinara Sauce.
          (order of 10)
        </p>
      </div>
      <div class="col-6">
        <h4><span>Ghost Pepper</span> Five Cheeser Pleaser 8.99</h4>
        Adds Ghost Pepper Jack Cheese and Jalapenos to the 4 Cheeser.
      </div>
    </div>
  </div>
  <%# end of second container %>
  <div class="container third mt-4">
    <div class="row">
      <div class="col-6">
        <h4>Chicken Tenders 9.99</h4>
        <p>
          6 pieces of Seasoned & Breaded Chicken Tenders served with Ranch
          Dressing. For a spicy kick, ask for Buffalo or Fire Style. Served with
          fries.
        </p>
      </div>
      <div class="col-6">
        <h4><span>Ghost Pepper</span> Cheese Fries 5.49</h4>
        With Bacon Bits.
      </div>
    </div>
  </div>
  <%# endo of third %>
  <div class="container fourth mt-4">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h4>1 lb Chicken Wings 11.99</h4>
        <table class="table table">
          <tr>
            <td>Hot'n'Spicy</td>
            <td>Honey Glazed BBQ</td>
          </tr>
          <tr>
            <td>Lemon Pepper</td>
            <td>Garlic Parmesan</td>
          </tr>
          <tr>
            <td>Spicy BBQ</td>
            <td>Mango Habanero</td>
          </tr>
          <tr>
            <td>Thai Chili</td>
            <td>Citrus Garlic</td>
          </tr>
          <tr>
            <td>Cajun</td>
            <td>Korean BBQ</td>
          </tr>
        </table>

        <p>
          FIRE WINGS (not for the faint of haert) Served with Ranch Dressing
        </p>
      </div>
      <div class="col-6">
        <h4><span>Ghost Pepper</span> Cheese Fries 5.49</h4>
        <p>With Bacon Bits.</p>
        <h4>Garlic Cheese Bread</h4>
        W
        <p>2pc (cut into 8) 4pc 4.49 (cut into 16) 6.99</p>

        <h4><span>Ghost Pepper</span> Garlic Cheese Bread</h4>
        <p>2pc (cut into 8) 4pc 4.99 (cut into 16) 7.49</p>

        <h4>Potato Wedges 6.99</h4>
        <p>Add Cheese whiz sauce and bacon for 1.99</p>
      </div>
    </div>
  </div>
  <%# end of fourth %>
  <div class="container fifth mt-4">
    <div class="row">
      <div class="col-6">
        <h4>Boneless Chicken Wings</h4>
        <p>
          6 pieces w/fries 7.99 10 <br />
          pieces w/fries 9.99
        </p>
        <h4>
          "Pazzo" Hot Sticks 7.99
        </h4>
        <p>
          Our dough twisted with Hot Sauce and Spices Served with Ranch or Blue
          Cheese Dressing.
        </p>
        <h4>"Pazzo" Garlic Sticks 7.99</h4>
        <p>
          Our dough twisted with Garlic and Parmesan served with Ranch Dressing
          or Marinara
        </p>
      </div>
      <div class="col-6">
        <h4>Fries</h4>
        <p>3.99</p>
        <h4>Rib Tips</h4>
        <p>1 lb 11.99</p>
        <h4>Garlic Bread</h4>
        <p>2pc 2.99 4pc 4.49</p>
      </div>
    </div>
  </div>
  <%# end of fifth %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>