<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="bev.css" />
<div class="main">
  <div class="header"></div>
  <div class="container pre p-2 my-4">
    <h2>Beverages</h2>
  </div>
  <%# end of pre container %>
  <div class="container first">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h4>Draft Beer</h4>
        <table class="table table-sm">
          <tr>
            <td>16oz Domestic</td>
            <td>4.00</td>
          </tr>
          <tr>
            <td>16oz Import</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>16oz Craft</td>
            <td>6.00</td>
          </tr>
          <tr>
            <td>34oz Domestic</td>
            <td>10.00</td>
          </tr>
          <tr>
            <td>34oz Import</td>
            <td>12.00</td>
          </tr>
          <tr>
            <td>34oz Craft</td>
            <td>14.00</td>
          </tr>
        </table>
      </div>
      <div class="col-12 col-sm-6 hmm">
        <h4>
          Bottle Beer
        </h4>
        <table class="table table-sm">
          <tr>
            <td>16oz Domestic</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>16oz Import</td>
            <td>6.00</td>
          </tr>
          <tr>
            <td>16oz Craft</td>
            <td>6.00</td>
          </tr>
        </table>

        <h4>Fountain Drinks</h4>
        <table class="table table-sm">
          <tr>
            <td>24oz cup</td>
            <td>1.99</td>
          </tr>
          <tr>
            <td>32oz cup</td>
            <td>2.49</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%# end of first conatiner %>
  <div class="container second">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h4>Pitchers</h4>
        <table class="table table-sm">
          <tr>
            <td>Domestic</td>
            <td>15.00</td>
          </tr>
          <tr>
            <td>Import</td>
            <td>18.00</td>
          </tr>
          <tr>
            <td>Craft</td>
            <td>23.00</td>
          </tr>
        </table>
      </div>
      <div class="col-12 col-sm-6">
        <h4>Wine by Glass</h4>
        <table class="table table-sm">
          <tr>
            <td>Red Merlot</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>White Zinfandel</td>
            <td>5.00</td>
          </tr>
          <tr>
            <td>Pinot Grigioj</td>
            <td>6.00</td>
          </tr>
          <tr>
            <td>Chardonnay</td>
            <td>6.00</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%# end of second container %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>
