<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="gour.css" />
<div class="main">
  <div class="header mb-4"></div>
  <div class="container mb-4">
    <div class="subHead my-4">
      <h1>Gourmet Pizza</h1>
      <h5>Our 100% hand tossed dough is made fresh daily</h5>
    </div>
  </div>
  <div class="container first">
    <div class="row">
      <div class="col-6">
        <h4>The Hail Mary</h4>
        <p>
          Pepperoni, Italian Sausage, Mushroom, Green Peppers, Red Onions, and
          Tomatoes
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
      <div class="col-6">
        <h4>The Spaghetti Pizza</h4>
        <p class="spag">
          Spaghetti in Meat Sauce and Meatballs on a Garlic Butter Pizza Crust
          covered in Mozzarella, Provolone and a blend of Parmesan/ Romano
          cheeses.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
    </div>
  </div>
  <%# endo of first container %>
  <br />
  <div class="container second">
    <div class="row">
      <div class="col-6">
        <h4>The Grand Slam</h4>
        <p>
          Pepperoni, Canadian Bacon, Salami, Mushrooms, Green Peppers, Red
          Onions, Black Olives, Smoked Bacon, Tomatoes, Pineapple, and Italian
          Sausage.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
      <div class="col-6">
        <h4>The Hall of Famer</h4>
        <p class="fame">
          Big Guys 'BAMBINO' BBQ Pizza. There is no doubt this pizza is a BIG HIT. BBQ sauce topped with Mozzarella, BBQ
          Chicken and Red Onions.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
    </div>
  </div>
  <div class="container third mt-4">
    <div class="row">
      <div class="col-6">
        <h4>The Buffalo Bill</h4>
        <p>
          Ranch or Blue Cheese Base, Mozzarella Cheese, and Buffalo Chicken.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
      <div class="col-6">
        <h4>The Power Play</h4>
        <p class="spag">
          Pepperoni, Salami, Canadian Bacon, Italian Sausage, Smoked Bacon and
          Meatballs. Pineapple and Jalapenos Optional.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
    </div>
  </div>
  <%# end of third %>
  <div class="container fourth mt-4">
    <div class="row">
      <div class="col-6">
        <h4>The Veggie Delight</h4>
        <p>
          Spinach, Tomatoes, Mushrooms, Black Olives, Artichoke Hearts, Bell
          Peppers, and Red Onions.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
      <div class="col-6">
        <h4>Philly Cheese Steak Pizza</h4>
        <p class="spag">
          Rib Eye Steak chopped with Caramelized Onions, Mushrooms, and
          Provolone.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
    </div>
  </div>
  <%# end of fourth container %>
  <div class="container fifth my-4">
    <div class="row">
      <div class="col-6">
        <h4>The Chicken Alfredo White Pizza</h4>
        <p>
          Fresh Grilled Chicken Breast with our Home Made Alfredo Sauce and
          Mushrooms topped with Mozzarella Cheese.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
      <div class="col-6">
        <h4>Chicken Spinach White Pizza</h4>
        <p class="spag">
          Alfredo Sauce, Grilled Chicken, Spinach, Carmalized Onions, Carmalized
          Red and Green Bell Peppers, Grated Parmesan, and Feta Cheese.
        </p>
        <p>
          S-12.99 M-15.99 L-19.99 XL-22.99 XXL-27.99 JUMBO-31.99 Jumbo
          Giant-47.99 MONSTER-56.99
        </p>
      </div>
    </div>
  </div>
  <%# end of ffith %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>