<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="houg.css" />
<div class="main">
  <div class="header"></div>
  <div class="container first mt-4">
    <h1>Hoagies N Sandwiches</h1>
    <p>
      All haogies are seved on Italian American rolls delivered to us from
      Philly
    </p>
  </div>
  <%# end of first container %>
  <div class="container second mt-4">
    <h4>Choose from these cheeses</h4>
    <p>
      American, Swiss, Chedder, Mozzarella, Provolone, or Ghost Pepper Cheese
      Blend
    </p>
    <h4>
      Philly Cheese Steak Hoagie 11.99
    </h4>
    <p>
      Fresh Rib Eye Steak cut into tiny pieces with Carmelized Onions and
      Mushrooms all mixed together and smothered in a special Philly style
      Cheese Sauce, Lettuce, Mayo, and Tomatoes
    </p>

    <h4>
      Blackened Rib Eye Steak Sandwich 11.99
    </h4>
    <p>
      Seared to perfection with our very hot & spicy Mayo, Lettuce, Tomatoes
    </p>
    <h4>Meatball Sandwich 11.99</h4>
    <p>
      Home made Meatballs smothered in our special Meat Sauce and
      Romano/Parmesan cheese with toasted Milano roll and Provolone/Mozzerella
      cheese
    </p>
    <h4>Chicken Parmesan Sandwich 10.99</h4>
    <p>
      Chiken Breast smothered in Romano Parmesan and cooked with Marinara.
      Served on Milano roll with Provolone and Mozzarella cheese
    </p>
    <h4>Hot Pastrami Sandwich 11.99</h4>
    <p>Pastrami, Cheese, Pickles, Grilled Onions, and Mustard</p>
    <h4>Hot Italian Sandwich 10.99</h4>
    <p>
      Served on Milano roll with Mustard, Mayo, Canadian Bacon, Pepperoni,
      Salami, Provolone, Lettuce, Red Onion and Tomatoes
    </p>
    <h4>
      Add Fries to any Sandwich 1.00
    </h4>
  </div>
  <%# end of second container %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>