<%- include('partials/header') %>
<link rel="stylesheet" href="index.css" />
<div class="">
  <div class="big container-fluid">
   <div class="row">
     <div class="col-12">
     </div>
   </div>
   <div class="row">
     <div class="col-12">
     </div>
   </div>
   <div class="row">
     <div class="col-12">
       <h1 class="num"> 951-242-1666</h1>
     </div>
   </div>
  </div>
  <div class="start mt-4">
    <h3>You'll be back for more</h3>
    <p>open everyday 7 days a week & every holiday</p>

    <p>
      We aren't your everyday run of the mill pizza and pasta jount. We are the
      real deal. We use the best quality products in the industry today. Our
      pizza sauce contains 100% pure extra virgin olive oil and fresh puree,
      onions and garlic. Our past sauces are all made from scratch.
    </p>
    <h2>WE DO CATERING</h2>
    <h4>with a 25$ minimum</h4>
    <a href="menu" class="btn btn-success">View the menu</a>
    <p class="four">
     <span class="one">FULL BAR <br></span>
     <span class="two">HAPPY HOUR <br></span> 
     <span class="three">QUALITY <br>
      BEERS ON TAP</span>
    </p>
    <a
      class="addy"
      href="https://www.google.com/maps/place/24735+Alessandro+Blvd,+Moreno+Valley,+CA+92553/@33.9167392,-117.2400468,15z/data=!3m1!4b1!4m5!3m4!1s0x80dca64f7199a153:0xae051ddc8e39ea2!8m2!3d33.9167217!4d-117.2313135"
      >24735 Alessandro Blvd Moreno Valley, CA 92553</a
    >
    <p>
      We broadcast all major Sporting Events MLB, NFL, NBA, NHL, NCAA & World
      Cup Soccer
    </p>
    <p style="color: yellow;" class="phone">
      951-242-1666 <br />
      951-242-5689
    </p>
  </div>
  <%# end of start %>
  <div>
    <div class="icons"

    
      <a href="https://www.facebook.com/pages/category/Pizza-Place/Big-Guys-Pizza-Pasta-Sports-Bar-134460089938471/"
        target="_blank">
      </a>
      <a href="https://www.facebook.com/pages/category/Pizza-Place/Big-Guys-Pizza-Pasta-Sports-Bar-134460089938471/">
<i class="fab fa-facebook fa-3x"></i>
      </a>

      <a href="https://www.instagram.com/bigguyspizza/?hl=en" target="_blank"
        ><i class="fab fa-instagram fa-3x"></i
      ></a>
      <a href="https://www.yelp.com/biz_photos/big-guys-pizza-pasta-and-sports-bar-moreno-valley?tab=food" target="_blank">
        <i class="fab fa-yelp fa-3x"></i>
      </a>
    </div>
  </div>
</div>
<%# end of container-fluid %> <%- include('partials/footer') %>
