<%- include('partials/header') %>
<link rel="stylesheet" href="menu.css" />
<div class="container-fluid">
  <div>
    <a href="/"><img src="bigArt.png" class="big" alt="big guys pizza" /> </a>
  </div>
  <div class="menu">
    <h3>All Menu Items</h3>
    <div class="items mb-3">
      <a href="pizza"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-pizza-slice fa-2x px-2px "> Pizza</i>
        </button></a
      >
      <a href="gour"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-pepper-hot fa-2x px-2px "> Gourmet Pizza</i>
        </button></a
      >
      <a href="apps"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-kiwi-bird fa-2x px-2px "> Appetizers</i>
        </button></a
      >
      <a href="salads"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-carrot fa-2x px-2px "> Salads</i>
        </button></a
      >
      <a href="bev"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-beer fa-2x px-2px "> Beverages</i>
        </button></a
      >
      <a href="houg"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-hamburger fa-2x px-2px "> Hoagies N Sandwiches</i>
        </button></a
      >
      <a href="ny"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-bread-slice fa-2x px-2px "> N.Y. Style Calzones</i>
        </button></a
      >
      <a href="pasta"
        ><button class="btn btn-success pizza mx-2">
          <i class="fas fa-cheese fa-2x px-2px "> Pasta and Dinners</i>
        </button></a
      >
    </div>
  </div>
  <%# end of menu %>
  <div class="navi">
    <a href="/"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of container %> <%- include('partials/footer') %>
