<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="ny.css" />
<div class="main">
  <div class="header"></div>
  <div class="container first mt-4">
    <h1>N.Y. Style Calzones</h1>
  </div>
  <%# end of first container %>
  <div class="container second">
    <div class="row">
      <div class="col-12">
        <h4>12 Inch Calzone 13.99</h4>
        <p>Pollio Ricotta, Sauce, Mozzarella and your choice of 3 toppings</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Philly Cheese Steak Calzone 16.99</h4>
        <p>
          Caramelized Mushrooms, Caramelized Onions, Black Angus Rib Eye Steak,
          Mozzarella, Cheese Whiz and Sauce
        </p>
      </div>
    </div>
  </div>
  <%# end of container 2 %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>
