<%- include('partials/header') %>
<link rel="stylesheet" href="all.css">
<link rel="stylesheet" href="pasta.css" />
<div class="main">
  <div class="header"></div>
  <div class="container pre mt-4">
    <h1>Pasta & Dinners</h2>
  </div>
  <div class="container first mt-4">
    <div class="row">
      <div class="col-6">
        <h4>Spaghetti 11.99</h4>
        <p>
          Choice of Meat Sauce with Homeade Meatballs or Marinara. <br />
          Served with Garlic Bread
        </p>
      </div>
      <div class="col-6">
        <h4>Cheese Manicotti 13.99</h4>
        <p>
          Stuffed Pasta Roll with a mixture of our blend of Ricotta Cheese
          Filing and Fresh Basil Leaves with your choice of Sauce. <br />
          Marinara, Meat, Alfredo or Vodka Sauce. <br />
          Served with Garlic Bread
        </p>
      </div>
    </div>
  </div>
  <%# end of container 1 %>
    <div class="container second">
      <div class="row">
        <div class="col-6">
          <h4>Penne Alla Vodka 13.99</h4>
          <p>
            Penne Pasta in Vodka Sauce. <br> Add Chicken 2.00, Add Shrimp 4.00 <br> Served with Garlic Bread.
          </p>
        </div>
        <div class="col-6">
          <h4>Meat Cannelloni 13.99</h4>
          <p>
            Stuffed Pasta Roll with a mixture of Ground Beef, Ground Sausage and Fresh Basil Leaves with your choice of Sauce. <br> Marinara, Meat, Alfredo, or Vodka Sauce. <br> Served with Garlic Bread.
          </p>
        </div>
      </div>
    </div>
    <%# end of container 2 %> 
        <div class="container third">
          <div class="row">
            <div class="col-6">
              <h4>Chicken Fettuccine Alfredo 14.99</h4>
              <p>
                Fettuccine noodles in our Home Made Alfredo Sauce and Grilled Chicken Breast. <br> Served with Garlic Bread.
              </p>
            </div>
            <div class="col-6">
              <h4>Meat Lasagna 14.99</h4>
              <p>
                Layers of Lasagna Noodles with Ground Beef in our very special Meat Sauce, Mozzarella, Ricotta, Provolone and Romano Parmesan Cheese Blend. <br> Served with Garlic Bread.
              </p>
            </div>
          </div>
        </div>
        <%# end of container 3 %>
        <div class="container fourth">
                    <div class="row">
                      <div class="col-6">
                        <h4>Shrimp Fettuccine Alfredo 16.99</h4>
                        <p>
                          Fettuccine noodle in our Home Made Alfredo Sauce with a Hearty pirtion of Tiger Shrimp. <br> Served with Garlic Bread
                        </p>
                      </div>
                      <div class="col-6">
                        <h4>Jumbo Shrimp Ravioli 14.99</h4>
                        <p>
                          Choice of Marinara, Alfredo, or Vodka Sauce. <br> Served with Garlic Bread. 
                        </p>
                      </div>
                    </div>
        </div>
        <%# end of container 4  %> 
        <div class="navi">
          <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
        </div>
</div>
<%# end of main %> <%- include('partials/footer') %>
