<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="pizza.css" />
<div class="main">
  <div class="header"></div>

  <%# ----------------nothing to see here---- end of header %>
  <div class="container">
    <div class="subHead my-4">
      <h1>Pizza</h1>
      <h5>Our 100% hand tossed dough is made fresh daily</h5>
    </div>
  </div>
  <div class="container first">
    <div class="row">
      <div class="col-sm-6">
        <h4>Cheese Pizza</h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Small</th>
              <td></td>
              <td>10"</td>
              <td>8.99</td>
            </tr>
            <tr>
              <th scope="row">Large</th>
              <td></td>
              <td>14"</td>
              <td>10.99</td>
            </tr>
            <tr>
              <th scope="row">XX-Large</th>
              <td></td>
              <td>18"</td>
              <td>16.99</td>
            </tr>
            <tr>
              <th scope="row">Jumbo Giant</th>
              <td></td>
              <td>24"</td>
              <td>30.99</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <h4 class="invis d-none d-sm-block">
          Cheese
        </h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Medium</th>
              <td></td>
              <td>12"</td>
              <td>9.99</td>
            </tr>
            <tr>
              <th scope="row">X-Large</th>
              <td></td>
              <td>16"</td>
              <td>13.99</td>
            </tr>
            <tr>
              <th scope="row">Jumbo</th>
              <td></td>
              <td>20"</td>
              <td>20.99</td>
            </tr>
            <tr>
              <th scope="row">MONSTER</th>
              <td></td>
              <td>28"</td>
              <td>36.99</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container first">
    <div class="row">
      <div class="col-sm-6">
        <h4>Two Topping Pizzas</h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Small</th>
              <td></td>
              <td>10"</td>
              <td>9.99</td>
            </tr>
            <tr>
              <th scope="row">Large</th>
              <td></td>
              <td>14"</td>
              <td>15.99</td>
            </tr>
            <tr>
              <th scope="row">XX-Large</th>
              <td></td>
              <td>18"</td>
              <td>21.99</td>
            </tr>
            <tr>
              <th scope="row">Jumbo Giant</th>
              <td></td>
              <td>24"</td>
              <td>38.99</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <h4 class="invis d-none d-sm-block">
          Cheese
        </h4>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Medium</th>
              <td></td>
              <td>12"</td>
              <td>11.99</td>
            </tr>
            <tr>
              <th scope="row">X-Large</th>
              <td></td>
              <td>16"</td>
              <td>17.99</td>
            </tr>
            <tr>
              <th scope="row">Jumbo</th>
              <td></td>
              <td>20"</td>
              <td>26.99</td>
            </tr>
            <tr>
              <th scope="row">MONSTER</th>
              <td></td>
              <td>28"</td>
              <td>44.99</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%# 2nd first container end %>
  <div class="container second mt-4">
    <h4>Toppings</h4>
    <div class="top mt-3">
      <p>
        Pepperoni, Sausage, Bacon, Canadian Bacon, Meatballs, Mushrooms, Onions,
        Black Olives, Bell Peppers, Jalapenos, Tomatoes, Pineapple, Carmelized
        Onions Carmelized Mushrooms, Carmelized Red Peppers, Carmelized Green
        Peppers, Sun Dried Tomatoes, Spinach, Grilled Chicken Breasts,
        Anchovies, Artichoke Hearts, Feta Cheese and Extra Cheese.
        <br />
      </p>
      <br />
      <div class="container last">
        <div class="row">
          <div class="col-12 col-sm-6">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>Small</td>
                  <td>1.00</td>
                </tr>
                <tr>
                  <td>Large</td>
                  <td>1.75</td>
                </tr>
                <tr>
                  <td>XXL</td>
                  <td>2.50</td>
                </tr>
                <tr>
                  <td>Jumbo Giant</td>
                  <td>4.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-sm-6">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>Medium</td>
                  <td>1.25</td>
                </tr>
                <tr>
                  <td>X-Large</td>
                  <td>2.00</td>
                </tr>
                <tr>
                  <td>Jumbo</td>
                  <td>3.00</td>
                </tr>
                <tr>
                  <td>Monster</td>
                  <td>5.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <%# end of row %>
      </div>
    </div>
  </div>
  <br />
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main, holds whole page %> <%- include('partials/footer') %>
