<%- include('partials/header') %>
<link rel="stylesheet" href="all.css" />
<link rel="stylesheet" href="salads.css" />
<div class="main">
  <div class="header"></div>
  <div class="container pre mt-4 p-3">
    <h2>Salads</h2>
    <h6>All Salads Served with Garlic Bread</h6>
  </div>
  <div class="container first mt-4">
    <div class="row">
      <div class="col-12">
        <h4>Our Famous Caesar Salad 10.99</h4>
        <p>
          Lettuce, Onions, Tomatoes, Feta Cheese, Fresh Black Olives and Bell
          Peppers with our very own special Greek Salad Dressing
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Caesar Salad 10.99</h4>
        <p>
          Romaine Lettuce, Croutons, Tossed together in a Creamy Caesar Dressing
          and Romano/Parmesan Cheese Blend
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Antipasto Salad 10.99</h4>
        <p>
          Romaine Lettuce topped with Salami, Canadian Bacon, Red Onions, Bell
          Peppers, Black Olives, Chunks of Povolone and Mozzarella, Tomatoes,
          and Peppercinis.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Chef Salad 10.99</h4>
        <p>
          Romaine Lettuce topped with Ham, Turkey, American Cheese, Swiss
          Cheese, Tomatoes, and Hard Boiled Eggs.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Garden Salad 9.99</h4>
        <p>
          Lettuce, Tomatoes, Black Olives, Bell Peppers, Onions, Mozzarella,
          Homeade Croutons.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4>Side Salad 4.99</h4>
        <p>
          no garlic bread with side salad
        </p>
      </div>
    </div>
  </div>
  <%# end of first container %>
  <div class="navi">
    <a href="/menu"><i class="fas fa-arrow-left fa-4x mt-3"></i></a>
  </div>
</div>
<%# end of main %> <%- include('partials/footer') %>