.header {
  background: url("wings.jpg");
}
.header {
  width: 100vw;
  height: 65vh;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
}

.first,
.second,
.third,
.fourth,
.fifth {
  padding: 2%;
}
