.header {
  width: 100vw;
  height: 80vh;
  background: url("bev.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  display: flex;
}
h2 {
  color: yellow;
}
h2 {
  text-align: center;
}
.first,
.second,
.third,
.fourth,
.fifth {
  padding: 2%;
}
.hmm {
  width: fit-content;
}

@media only screen and (max-width: 350px) {
  .header {
    height: 65vh;
  }
}
